<% time= Time.now%>

<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <p>The date is <%=time.strftime("%A, %B %d, %Y")%></p>
        <h1>Today</h1>
    </body>
</html>
